:ruby
  if @options[:scope_assoc]
    scope_assoc_value = params[:scope_assoc_value]
    collection = @abstract_model.model.all.collect{ |m| m.send(@options[:scope_assoc]) }.uniq
    scope_assoc_value_name = @abstract_model.model.find_by_product_id(scope_assoc_value).product.name if scope_assoc_value.present?
  end

- if collection.present?
  = form_tag(nestable_path(params.except(*%w[scope])), method: :get, class: "pjax-form form-inline") do
    .well
      %span.input-group-btn
        = select_tag "scope_assoc_value", options_from_collection_for_select(collection, :id, :name, scope_assoc_value), include_blank: true, placeholder: "Suchen", required: "required", id: "specification_product_id", style: "display: none;", onchange: "$(this).closest('form').submit();", data: { filteringselect: true }
        .input-group.filtering-select.col-sm2{ data: { input_for: "specification_product_id" }, style: "float: left;" }
          %input.form-control.ra-filtering-select-input.ui-autocomplete-input{ style: "display: inline-block;", placeholder: "Suchen", autocomplete: "off", value: scope_assoc_value_name }
          %span.input-group-btn
            %label.btn.btn-info.dropdown-toggle{ data: { toggle: "dropdown" }, "aria-expanded": false, title: "Show All Items", role: "button" }
              %span.caret
              %span.ui-button-text= " "
        -# FIXME: reset dysfunctional.
        -#%span.input-group-btn
          -#%button.btn.btn-info{title: "Reset filters"}
            -#%i.icon-white.icon-remove

- if !@options[:scope_assoc] || scope_assoc_value.present?
  #rails_admin_nestable
    - if [false, :only].exclude?(@options[:live_update])
      .form-group
        .checkbox
          %label
            = check_box_tag 'rails_admin_nestable_live_update'
            = t('admin.actions.nestable.live_update')
    .form-group
      #tree_nodes.dd{ data: { update_path: nestable_path(model_name: @abstract_model), max_depth: tree_max_depth } }
        %ol.dd-list
          = nested_tree_nodes @tree_nodes
    - if @options[:live_update] != :only
      .form-group
        %button.btn.btn-primary{ type: 'submit' }= t('admin.actions.nestable.update')

= stylesheet_link_tag    'rails_admin/rails_admin_nestable'
= javascript_include_tag 'rails_admin/jquery.nestable'
= javascript_include_tag 'rails_admin/rails_admin_nestable'
